@font-face {
  font-family: 'iconfont';  /* Project id 3968973 */
  src: url('//at.alicdn.com/t/c/font_3968973_lz5izg6hmvm.woff2?t=1679467311423') format('woff2'),
       url('//at.alicdn.com/t/c/font_3968973_lz5izg6hmvm.woff?t=1679467311423') format('woff'),
       url('//at.alicdn.com/t/c/font_3968973_lz5izg6hmvm.ttf?t=1679467311423') format('truetype');
}
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-ktv:before {
    content: "\e644";
  }
  
  .icon-hotel:before {
    content: "\e641";
  }
  
  .icon-jingdian:before {
    content: "\e60c";
  }
  
  .icon-meishi:before {
    content: "\e630";
  }
  
  .icon-anmo:before {
    content: "\e63b";
  }
  
  