@font-face {
    font-family: "iconfont";
    /* Project id 3968973 */
    src: url('./iconfont/iconfont.woff2?t=1679918938868') format('woff2'), url('./iconfont/iconfont.woff?t=1679918938868') format('woff'), url('./iconfont/iconfont.ttf?t=1679918938868') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
    content: "\e60a";
}

.icon-search:before {
    content: "\e67d";
}

.icon-arrow-left-bold:before {
    content: "\e685";
}

.icon-hotel:before {
    content: "\e641";
}

.icon-ktv:before {
    content: "\e644";
}

.icon-jingdian:before {
    content: "\e60c";
}

.icon-meishi:before {
    content: "\e630";
}

.icon-anmo:before {
    content: "\e63b";
}

.icon-dingwei:before {
    content: "\e634";
}